<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="users" class="welcome-card">
    <ion-card-header>
      <ion-card-title>All Users</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let user of users">
        <a [routerLink]="['/user-view/', user._id]">{{ user.first_name }} {{ user.last_name }}</a>
        <ul>
          <li>{{ user.username }}</li>
          <li>{{ user.email }}</li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button [routerLink]="['/user-create']">Add a user</ion-button>

</ion-content>
