<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="!users">
    <ion-label text-center>
      <ion-spinner></ion-spinner>
    </ion-label>
  </ion-item>
  <ion-card *ngIf="users" class="welcome-card">
    <ion-card-header>
      <ion-card-title>All Users</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let user of users">
        <a [routerLink]="['/user-view/', user._id]">{{ user.first_name }} {{ user.last_name }}</a>
        <ul>
          <li>{{ user.username }}</li>
          <li>{{ user.email }}</li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button color="tertiary" [routerLink]="['/user-create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
